body {
    background: radial-gradient(farthest-corner at 30vw 20vh,#7397a1 1%,#3f2c41 100%);
    overflow:hidden;
    z-index: -100;
}

.snow {
    border-radius: 100%;
    opacity: .5;
    position: absolute;
    left: -10vw;
    top: -100vh;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    animation-delay: 5s;
    height: 20px;
    width: 20px;
    /*position:absolute;*/
    background-color: transparent;
    box-shadow: 0 100px 10px #fff;
}

#sno, #sno2, #sno3 {
    animation-name: scalee;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 9s;
    animation-delay: 0s;
}



.snow.middle {
    height: 12px;
    width: 12px;
    filter:blur(2px);
    animation-delay: 5s;
    animation-duration: 15s;
}




.snow.back {
    height: 5px;
    width: 5px;
    filter:blur(3px);
    animation-duration: 25s;
    animation-delay: 0s;
}

.snow.front.b {
    animation-delay: 10s;
}

.snow.middle.b {
    animation-delay: 13s;
}

.snow.back.b {
    animation-delay: 12s;
}



@keyframes fall {
    0% {transform: translateY(0vh) translateX(0vw); }
    20% {transform: translateY(40vh) translateX(8vw); }
    40% {transform: translateY(80vh) translateX(12vw); }
    50% {transform: translateY(100vh) translateX(15vw);}
    60% {transform: translateY(120vh) translateX(17vw);}
    75% {transform: translateY(150vh) translateX(18vw);}
    90% {transform: translateY(180vh) translateX(19vw);}
    100% {transform: translateY(200vh) translateX(20vw); }
}



@keyframes scalee {
    0% {transform: scale(5) translateY(-20vh);}
    100% {transform: scale(2.2) translateY(100vh);}
    /*70% {transform: scale(4) translateY(80vh);}*/
    /*100% {transform: scale(1) translateY(100vh); }*/
}

.pole {
    position: absolute;
    transform: scale(0.9);
    left:5vw;
    bottom:-20vh;
    z-index: -10;
}

.shaft {
    position:relative;
    top:-15px;
    height:500px;
    width:50px;
    /*background-color: white;*/
    background: linear-gradient(90deg, antiquewhite -25%, white, papayawhip 125%);
    box-shadow: inset 0px 0px 10px #555555, inset -10px 0 30px #555555;
    clip-path: inset(10px 0px 50px 0px);
    /*margin-top: 2020p*/
}

.shaft::after {
    height: 100%;
    width: 50px;
    background: repeating-linear-gradient(
        -45deg,
        darkred,
        transparent 10px,
        transparent
        10px,
        transparent 20px
    );
    opacity: 8;
    content: "";
    display: inline-block;
}

.ball {
    position:relative;
    left: -7px;
    top: 7px;
    height:65px;
    width:65px;
    /*background-color:goldenrod;*/
    background: radial-gradient(circle at 35% 25%, white 0, gold 25%, black 100%);
    border-radius:50%;
    z-index: 2;
    clip-path: inset(0px 0px 10px 0px);
    /*box-shadow: inset -8px -10px 15px #555555*/
    /*filter: drop-shadow(inset 30px 10px 4px #4444dd);*/
}

/*.ball::after {*/
/*    content:"";*/
/*    display:inline-block;*/
/*    height: 25px;*/
/*    width: 25px;*/
/*    border-radius: 50%;*/
/*    background: radial-gradient(circle at center, white 0, gold 55%, darkgoldenrod 100%);*/
/*}*/

.flag {
    position: absolute;
    top:50px;
    left: 50px;
    width: 150px;
    background-color: white;
    box-shadow: inset -3px -3px 3px goldenrod;
    border-style: groove;
    border-bottom-color: gold;
    border-right-color: gold;

}

a {
    text-decoration: none;
}
