body {
    background: radial-gradient(farthest-corner at 30vw 20vh,#7397a1 1%,#3f2c41 100%);
}

.snow {
    border-radius: 100%;
    opacity: .5;
    position: absolute;
    top: -100vh;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    height: 20px;
    width: 20px;
    /*position:absolute;*/
    background-color: transparent;
    box-shadow: 0 100px 10px #fff;
}

#sno {
    animation-name: fall, scalee;
    animation-iteration-count: infinite, 1;
    animation-duration: 10s, 9s;
    animation-timing-function: linear, ease-in;
    animation-delay: 10s, 0s;
}

.snow.middle {
    height: 12px;
    width: 12px;
    filter:blur(2px);
    animation-delay: 3s;
    animation-duration: 15s;
}

.snow.back {
    height: 5px;
    width: 5px;
    filter:blur(3px);
    animation-duration: 25s;
}

.snow.front.b {
    animation-delay: 5s;
}

.snow.middle.b {
    animation-delay: 11s;
}

.snow.back.b {
    animation-delay: 12s;
}


@keyframes fall {
    100% {transform: translateY(200vh); }
}

@keyframes scalee {
    0% {transform: scale(5) translateY(-20vh);}
    100% {transform: scale(2.2) translateY(100vh);}
    /*70% {transform: scale(4) translateY(80vh);}*/
    /*100% {transform: scale(1) translateY(100vh); }*/
}

