body {
    background: radial-gradient(farthest-corner at 30vw 20vh,#7397a1 1%,#3f2c41 100%);
}

.snow {
    border-radius: 100%;
    opacity: .5;
    position: absolute;
    top: -100vh;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    height: 20px;
    width: 20px;
    /*position:absolute;*/
    background-color: transparent;
    box-shadow: 0 20px 10px #fff;
}

.snow.middle {
    height: 15px;
    width: 15px;
    filter:blur(2px);
    animation-delay: 1s;
    animation-duration: 15s;
}

.snow.back {
    height: 5px;
    width: 5px;
    filter:blur(3px);
    animation-delay: 2s;
    animation-duration: 20s;
}

.snow.front.b {
    animation-delay: 5s;
}

.snow.middle.b {
    animation-delay: 7s;
}

.snow.back.b {
    animation-delay: 9s;
}


@keyframes fall {
    100% {transform: translateY(200vh); }
}

